body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    height: 97vh; 
}
.img_content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white; 
    padding: 20px;
}
.img_content img {
    max-width: 100%;
    height: auto;

}

.id_content {
    background-color: white; 
    padding: 20px;
    min-width: 600px;
}
footer {
    background-color: rebeccapurple; 
    color: black;
    text-align: center;
    padding: 10px;
    height: 3vh; 
}

#form{
    width: 400px;
    position: relative;
}

#topDiv{
    display: grid;
    grid-template-columns: auto;
}


.btn1{
    background-color: white;
    border: 1px solid gray;
    border-radius: 1ch;
    padding: 10px;
    margin: 10px;
}

.btn2{
    width: 300px;
    padding: 10px;
    border-radius: 1ch;
    border: 1px solid gray;
    background-color: skyblue;
    text-align: center;
    color: white;
}

.btn3{
    width: 300px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 1ch;
    text-align: center; font-weight: bold;
    color: #0077ff;
    padding: 10px;
}




.hr-sect{ display: flex; 
    flex-basis: 100%; 
    align-items: center;
}
.hr-sect::before, .hr-sect::after {
    content: ""; 
    flex-grow: 1; 
    background: rgba(0, 0, 0, 0.35); 
    height: 1px; 
    font-size: 0px; line-height: 0px; 
    margin: 0px 8px;}


span{
    color: skyblue;
}

.h1, .h2{
    margin:10px;
}

.bottomDiv{
    position: fixed;
}

