body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.img_content, .id_content {
    padding: 20px;
    display: flex;
    flex-direction: column;

    justify-content: center;
}
.img_content img {
    width: 100%;
    max-width: 600px;
    height: auto;

}

footer {
    background-color: rgb(255, 255, 255); 
    color: #536471;
    font-size: 13px;
    text-align: center;
    height: 50px;
}

#form{
    width: 300px;
    position: relative;
    margin-top: 20px;
}

#topDiv{
    display: grid;
    grid-template-columns: auto;
}

.btn0{
    background-color: white;
    border: 1px solid rgb(207, 217, 222);
    border-radius: 9999px;
    padding: 10px;
    margin: 4px;
    width: 300px;
}
.btn1{
    background-color: white;
    border: 1px solid rgb(207, 217, 222);
    border-radius: 9999px;
    padding: 10px;
    margin: 4px;
    width: 300px;
}

.btn2{
    width: 300px;
    padding: 10px;
    border-radius: 9999px;
    border: 1px solid rgb(207, 217, 222);
    background-color: rgb(74, 153, 233, 1);
    text-align: center;
    color: white;
}

.btn3{
    width: 300px;
    background-color: white;
    border: 1px solid rgb(207, 217, 222);
    border-radius: 9999px;
    text-align: center; font-weight: bold;
    color: #0077ff;
    padding: 10px;
}

.hr-sect{ display: flex; 
    flex-basis: 100%; 
    align-items: center;
}
.hr-sect::before, .hr-sect::after {
    content: ""; 
    flex-grow: 1; 
    background: rgba(136, 136, 136, 0.35); 
    height: 1px; 
    font-size: 0px; line-height: 0px; 
    margin: 0px 8px;}

.font_small{
    font-size: 10px;
}


.span1, .span2{
    margin:10px;
}
.span1{
    font-size: 65px;
    font-weight: bold;
}
.span2{
    margin-top: 30px;
    font-size: 31px;
    color: #0f1419;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: rgb(74, 153, 233, 1);
}
a:hover{
    text-decoration: underline;
}
a:visited{
    text-decoration: none;
    color: rgb(74, 153, 233, 1);
}

@media screen {
    
}